Library
Logs
UserSettings
obj
.idea
*.csproj
DOTween.Modules.csproj
build-and-explode.sln
Temp
ProjectSettings
Assets/AddressableAssetsData/WebGL
*.xml
Assets/AddressableAssetsData/ProfileDataSourceSettings.asset
